#titulopagina {
  text-align: center;
  margin-right: 15%;
}

.informacion input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  max-width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
  .informacion button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 45%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 90%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    position: absolute;
    float:left;
    padding: 1%;
    bottom:0%;
    right:20%;
}

.informacion form{
  margin-bottom: 20px;
}

button:hover {
    background-color: green;
}

#barraopciones{
  float: left;
}

.imagen img {
  /*max-width: 20%;
  max-height: 20%;*/
  margin: auto;
  width:  60px;
  height: 70px;
}

.simb_repr_play input {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  margin-left: 65%;
  margin-top: 3%;
  border: none;
  padding: 0;
  background: none;
}

.simb_repr_fav input {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  margin-left: 75%;
  margin-top: 3%;
  border: none;
  padding: 0;
  background: none;
}

.simb_repr_lista input {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  margin-left: 85%;
  margin-top: 3%;
  border: none;
  padding: 0;
  background: none;
}

.nombrecancion {
  position: absolute;
  margin-left: 22%;
  font-size: 100%;
  margin-top: 5%;
  font-weight: normal;
}

.nombreautor {
  position: absolute;
  margin-left: 15%;
  font-size: 90%;
  margin-top: 8%;
  font-weight: normal;
}
.nombreestilo {
  position: absolute;
  margin-left: 15%;
  font-size: 90%;
  margin-top: 8%;
  font-weight: normal;
}


.cancioninf{
  height: 5%;
  width: 100%;
  margin-top:5%;
  margin-bottom:5%;
}

.cancioninf ul{
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

#enlacecancion{
  font: bold 20px Arial;
  text-decoration: none;
  color: #333333;
}

@media(min-width:768px) {
  .nombrecancion {
    margin-left: 5%;
    padding-top:0%;
    font-size: 28px;
    margin-top: 1%;
  }

  .imagen img {
      /*max-width: 7%;
      max-height: 12%;*/
      margin: auto;
      width: 110px;
      height: 70px;
  }

  .nombreautor {
    margin-left: 15%;
    padding-top:0%;
    font-size: 20px;
    margin-top: 5%;
  }
  .nombreestilo {
    margin-left: 15%;
    padding-top:0%;
    font-size: 20px;
    margin-top: 7%;
  }
  .cancioninf{
    margin-top:0%;
    margin-bottom:0%;
  }

  .simb_repr_play input {
    margin-left: 35%;
    margin-top: 0.5%;
  }

  .simb_repr_fav input {
    margin-left: 45%;
    margin-top: 0.5%;
  }

  .simb_repr_lista input {
    margin-left: 55%;
    margin-top: 0.5%;
  }

}

@media(max-width:767px) {
	.window-container {
	    display: block;
	    background: #fcfcfc;
	    margin: 8em auto;
	    margin-left: 25% !important;
	    width: 250px !important;
	    padding: 250px 20px 20px !important;
	    text-align: left;
	    z-index: 3;
	    border-radius: 3px;
	    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
	    -webkit-transition: 0.4s ease-out;
	    -moz-transition: 0.4s ease-out;
	    -ms-transition: 0.4s ease-out;
	    -o-transition: 0.4s ease-out;
	    transition: 0.4s ease-out;
	    opacity: 0;
	}
  .nombrelista {
    text-align: center;
    margin-left: 40px !important;
    padding: 10px;
    font-size: 40px;
}
.nombrecancion {
    position: absolute;
    margin-left: 20%;
    font-size: 100%;
    margin-top: 6%;
    font-weight: normal;
    max-width: 46%;
}

.nombreautor {
  position: absolute;
  margin-left: 24%;
  font-size: 70%;
  margin-top: 8%;
  font-weight: normal;
}

.nombreestilo {
  position: absolute;
  margin-left: 24%;
  font-size: 70%;
  margin-top: 13%;
  font-weight: normal;
}
}


@media(min-width:768px) and (max-width:1300px){
.nombreautor {
  position: absolute;
  margin-left: 24%;
  font-size: 150%;
  margin-top: 7%;
  font-weight: normal;
}

.nombreestilo {
  position: absolute;
  margin-left: 24%;
  font-size: 150%;
  margin-top: 12%;
  font-weight: normal;
}
}


@media(max-width:350px) {
    .window-container {
        width: 225px !important;
        margin-left: 25% !important;
    }
}
