#titulopagina {
  text-align: center;
  margin-right: 15%;
}
#barraopciones {
    float: left;
}

.nombrecancion {
  position: absolute;
  margin-left: 22%;
  font-size: 100%;
  margin-top: 5%;
  font-weight: normal;
}

.cancioninf ul{
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.informacion input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  max-width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
  .informacion button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 45%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 90%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    position: absolute;
    float:left;
    padding: 1%;
    bottom:0%;
    right:20%;
}

#enlacecancion {
    font: bold 20px Arial;
    text-decoration: none;
    color: #333333;
}

.informacion form {
    margin-bottom: 20px;
}

.simb_repr_play input {
  position: absolute;
  width:  45px;
  height: 45px;
  margin-left: 65%;
  margin-top: 3%;
  border: none;
  padding: 0;
  background: none;
}

.simb_repr_elim input {
  position: absolute;
  width:  45px;
  height: 45px;
  margin-left: 75%;
  margin-top: 3%;
  border: none;
  padding: 0;
  background: none;
}


button:hover {
    background-color: green;
}

.imagen img {
  width: 110px;
  height: 70px;
  margin: auto;
}

.cancioninf{
  margin-top:0%;
  margin-bottom:0%;
}

#enlacecancion{
  font: bold 20px Arial;
  text-decoration: none;
  color: #333333;
}

@media(min-width:768px) {
  .nombrecancion {
    margin-left: 5%;
    padding-top:0%;
    font-size: 28px;
    margin-top: 1%;
  }

  .imagen img {
    width: 110px;
    height: 70px;
    margin: auto;
  }

  .simb_repr_play input {
    margin-left: 35%;
    margin-top: 0.5%;
  }

  .simb_repr_elim input {
    margin-left: 45%;
    margin-top: 0.5%;
  }


}
