#titulopagina {
  text-align: center;
  margin-right: 15%;
}


.informacion input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  max-width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
  .informacion button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 45%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 90%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    position: absolute;
    float:left;
    padding: 1%;
    bottom:0%;
    right:20%;
}

button:hover {
    background-color: green;
}

.imagen img {
  position: absolute;
  max-width: 20%;
  max-height: 20%;
  margin: auto;
  width:  60px;
  height: 70px;
}

.nombrecancion {
  margin-left: 25%;
  font-size: 90%;
}

.cancioninf{
  height: 5%;
  width: 100%;
  margin-top:5%;
  margin-bottom:5%;
}

#enlacecancion{
  font: bold 20px Arial;
  text-decoration: none;
  color: #333333;
}

@media(min-width:768px) {

  .imagen img {
    position: absolute;
    max-width: 13%;
    max-height: 20%;
    margin: auto;
    width:  150px;
    height: 110px;
  }

  .nombrecancion {
    margin-left: 20%;
    padding-top: 1%;
    font-size: 90%;
  }

  .cancioninf{
    margin-top:5%;
    margin-bottom:5%;
  }

}
