#titulopagina {
  text-align: center;
  margin-right: 15%;
}
#barraopciones {
    float: left;
}

.nombrecancion {
    margin-left: 15%;
    padding-top: 0%;
    font-size: 30px;
    margin-top: 3%;
}

.cancioninf ul {
    list-style-type: none;
    padding-left: 0;
}

.informacion input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  max-width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
  .informacion button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 45%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 90%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    position: absolute;
    float:left;
    padding: 1%;
    bottom:0%;
    right:20%;
}

#enlacecancion {
    font: bold 20px Arial;
    text-decoration: none;
    color: #333333;
}

.informacion form {
    height: 12%;
}

.nombrecancion {
    position: absolute;
    margin-left: 22%;
    font-size: 100%;
    margin-top: 5%;
    font-weight: normal;
}

.simb_repr_play input {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  margin-left: 55%;
  margin-top: 5%;
  border: none;
  padding: 0;
  background: none;
}

.simb_repr_elim input {
    position: absolute;
    max-width: 8%;
    max-height: 8%;
    margin-left: 65%;
    margin-top: 5%;
    border: none;
    padding: 0;
    background: none;
}


button:hover {
    background-color: green;
}

.imagen img {
  position: absolute;
  max-width: 20%;
  max-height: 20%;
  margin: auto;
  width:  60px;
  height: 70px;
}

.nombrecancion {
  margin-left: 25%;
  font-size: 90%;
}

.cancioninf{
  height: 5%;
  width: 100%;
  margin-top:5%;
  margin-bottom:5%;
}

#enlacecancion{
  font: bold 20px Arial;
  text-decoration: none;
  color: #333333;
}

@media(min-width:768px) {
  .nombrecancion {
      margin-left: 15%;
      padding-top: 0%;
      font-size: 30px;
      margin-top: 3%;
  }

  .imagen img {
    position: absolute;
    max-width: 13%;
    max-height: 20%;
    margin: auto;
    width:  150px;
    height: 110px;
  }

  .simb_repr_play input {
    margin-left: 35%;
    margin-top: 2%;
  }

  .simb_repr_elim input {
      margin-left: 55%;
      margin-top: 2%;
  }

  .cancioninf{
    margin-top:5%;
    margin-bottom:0%;
  }

}

@media(min-width:1100px) {
  .simb_repr_elim input {
      margin-left: 45%;
      margin-top: 2%;
  }
}
