#inf_acceso {
  color:red;
}

#inf_registro {
  color:red;
  margin-left: 10px;
}

#ventana_reg{
  padding: 0px 20px;
}

#form_registro {
  margin-left: 20px;
  margin-bottom: 20px;
}

#boton_enviar {
   background: #4CAF50;
   color: white;
   text-transform: uppercase;
   border-radius: 6px;
   border: 2px solid #088A08;
}

#login{
  float: right;
}

#contrasenya{
  float: right;
}

#tr_datos{
  background: white;
  padding: 80px;
  top: 100px !important;
  left: 850px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


body{
  background: #BCF5A9;
}

@media(max-width:650px) {
  #boton_enviar{
    margin-left: 20px !important;
  }
  #tr_logo{
    position: absolute;
    top: 0px !important;
    left: 90px !important;
  }

  #tr_datos{
    position: absolute;
    top: 280px !important;
    left: 40px !important;
    padding: 20px;
    padding-bottom: 0;
  }
  .window-container {
    width: 360px !important;
    height: 440px;
  }

  #IdUsar{
    width: 120px;
  }
}

@media(max-width:370px) {
  #boton_enviar{
    margin-left: 0px !important;
  }
  #tr_logo{
    position: absolute;
    top: -10px !important;
    left: 40px !important;
  }

  #tr_datos{
    position: absolute;
    top: 260px !important;
    left: 10px !important;
    padding: 20px;
    padding-bottom: 0;
  }

  .window-container {
    width: 300px !important;
    height: 460px;
    margin-top: 10px !important;
  }

  #IdUsar{
    width: 100px;
  }
}

@media(max-width:1200px ) and (min-width:600px)  {
  #tr_logo{
    position: absolute;
    top: 100px !important;
    left: 40px !important;
  }

  #tr_datos{
    position: absolute;
    top: 150px !important;
    left: 330px !important;
  }
}
