.window-container1 {
  margin: 13em auto !important;
}

.informacion form {
    margin-bottom: 20px;
}

#form_seguir_usuario {
  margin-bottom: 0;
}

#titulopagina {
  text-align: center;
  margin-right: 15%;
}
.informacion input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  max-width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
  .informacion button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 55%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 90%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    float:left;
    padding: 1%;
    right:20%;
}

.imagen img {
  width: 110px;
  height: 70px;
  margin: auto;
}

.block1 {
  margin-left: 30%;
}

#barraopciones {
    float: left;
}

#enlacecancion {
    font: bold 20px Arial;
    text-decoration: none;
    color: #333333;
}

.cancioninf ul{
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.imagen img {
  width: 120px;
  height: 90px;
  margin: auto;
}

#enlacecancion{
  font: bold 20px Arial;
  text-decoration: none;
  color: #333333;
}

.anadir_lista input {
  max-width: 45px;
  max-height: 14%;
  margin: auto;
  float: right;
  margin-right: 5%;
  margin-top: -20px;
  padding: 0;
  background: none;
}

.simb_repr_play input {
  width:  45px;
  height: 45px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  padding: 0;
  background: none;
}

@media(min-width:768px) {
  .anadir_lista input {
    max-width: 7%;
    max-height: 14%;
    margin: auto;
    float: right;
    margin-right: 15%;
    margin-top: -40px;
  }

  .informacion button {
      width: 45%;
    }

  tr {
    margin-left: 0px;
  }

  .nombrecancion {
      position: absolute;
      margin-left: 20px;
      font-size: 30px;
      margin-top: 20px;
      font-weight: normal;
  }
}

@media(min-width:1200px) and (max-width: 1350px){
  .informacion button {
    width: 45%;
  }


  tr {
    margin-left: 0px;
  }
}

@media(min-width:1350px){
  .informacion button {
    width: 45%;
  }


  tr {
    margin-left: 0px;
  }
}

@media(max-width:350px) {
    .informacion button {
      width: 62%;
    }
  tr {
    margin-left: -17px;
  }
}

@media(min-width:1000px) and (max-width: 1200px) {
  .informacion button {
    width: 45%;
  }
  .block {
    float: right;
  }
}
