<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MEWAT</display-name>
  <welcome-file-list>
    <welcome-file>inicio.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/pool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>RegistrarUsuario</servlet-name>
    <servlet-class>RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class>IniciarSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarCancionTitulo</servlet-name>
    <servlet-class>BuscarCancionTitulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarCancionAlbum</servlet-name>
    <servlet-class>BuscarCancionAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarCancionArtista</servlet-name>
    <servlet-class>BuscarCancionArtista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnyadirCancionALista</servlet-name>
    <servlet-class>AnyadirCancionALista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrarCancion</servlet-name>
    <servlet-class>BorrarCancion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrarListaDeReproduccion</servlet-name>
    <servlet-class>BorrarListaDeReproduccion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>CerrarSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrearListaDeReproduccion</servlet-name>
    <servlet-class>CrearListaDeReproduccion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DejarDeSeguirUsuario</servlet-name>
    <servlet-class>DejarDeSeguirUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MostrarListasReproduccion</servlet-name>
    <servlet-class>MostrarListasReproduccion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitarCancionDeLista</servlet-name>
    <servlet-class>QuitarCancionDeLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeguirUsuario</servlet-name>
    <servlet-class>SeguirUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubirCanciones</servlet-name>
    <servlet-class>SubirCanciones</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerLista</servlet-name>
    <servlet-class>VerLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerSeguidores</servlet-name>
    <servlet-class>VerSeguidores</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerSeguidos</servlet-name>
    <servlet-class>VerSeguidos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReproducirCancion</servlet-name>
    <servlet-class>ReproducirCancion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarUsuarios</servlet-name>
    <servlet-class>BuscarUsuarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarContrasenya</servlet-name>
    <servlet-class>CambiarContrasenya</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarNombre</servlet-name>
    <servlet-class>CambiarNombre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarFotoPerfil</servlet-name>
    <servlet-class>CambiarFotoPerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerGeneros</servlet-name>
    <servlet-class>ObtenerGeneros</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarCancionGenero</servlet-name>
    <servlet-class>BuscarCancionGenero</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopSemanal</servlet-name>
    <servlet-class>TopSemanal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerArtistas</servlet-name>
    <servlet-class>ObtenerArtistas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerAlbums</servlet-name>
    <servlet-class>ObtenerAlbums</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerAlbumsArtista</servlet-name>
    <servlet-class>ObtenerAlbumsArtista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarAlbum</servlet-name>
    <servlet-class>BuscarAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarArtista</servlet-name>
    <servlet-class>BuscarArtista</servlet-class>
  </servlet>
</web-app>
